__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
logs/
*.spec
.env
.venv/
venv/
*.log
.kirator/
src/data/chroma_techniques/
test_results/
.pytest_cache/
*.zip
.DS_Store
Thumbs.db
recovered/
